@model IEnumerable<MessageModel>




<p class="btn btn-primary btn-sm float-right">@Html.ActionLink("ARCHIVOS", "DownloadFiles", new { user = ViewBag.Second }, new { style = "text-decoration:none; color:white" })</p>
<h1>CHAT</h1>
<p class="btn btn-primary btn-sm float-right">@Html.ActionLink("ACTUALIZAR", "QueryChat", new { user = ViewBag.Second }, new { style = "text-decoration:none; color:white" })</p>
<h6>@ViewBag.Logged - @ViewBag.Second</h6>
<h2 class="text-success"> @ViewBag.ConfirmationFile</h2>
<hr />

@if (ViewBag.Result != null)
{
    <div class="alert alert-dismissible alert-secondary">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@ViewBag.Result</strong>
    </div>
}


<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model)
        {
            @if (item.Transmitter == ViewBag.Logged)
            {
                if (item.Type == 2)
                {
                    @using (Html.BeginForm("Download", "User", new { user = ViewBag.Second }))
                    {
                         <blockquote class="blockquote">
                              <p class="mb-0 justify-content-around"> <b>@Html.DisplayFor(modelItem => item.Content) </b></p>
                              <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.Transmitter) <br><cite title="Source Title">@Html.DisplayFor(modelItem => item.Date)</cite></footer>
                              <p class="mb-0 justify-content-around"> <b><input type="submit" value="Descargar" /></b><input type="text" id="val2" class="border-0 invisible" name="Path" value=" @Html.DisplayFor(modelItem => item.Path)" readonly></p>
                          </blockquote>
                    }
                }
                else
                {
                    <blockquote class="blockquote">
                        <p class="mb-0 justify-content-around"><b>@Html.DisplayFor(modelItem => item.Content)</b></p>
                        <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.Transmitter) <br><cite title="Source Title">@Html.DisplayFor(modelItem => item.Date)</cite></footer>
                    </blockquote>
                }
            }
            else
            {
                if (item.Type == 2)
                {
                    @using (Html.BeginForm("Download", "User", new { user = ViewBag.Second }))
                    {
                        <blockquote class="blockquote text-right">
                            <p  class="mb-0"> <b>@Html.DisplayFor(modelItem => item.Content)</b></p>
                            <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.Transmitter) <br><cite title="Source Title">@Html.DisplayFor(modelItem => item.Date)</cite></footer>
                            <p class="mb-0"><input type="text" id="val2" class="border-0 invisible" name="Path" value=" @Html.DisplayFor(modelItem => item.Path)" readonly> <b><input type="submit" value="Descargar" /></b></p>
                        </blockquote>
                    }
                }
                else
                {
                    <blockquote class="blockquote text-right">
                        <p class="mb-0"><b>@Html.DisplayFor(modelItem => item.Content)</b></p>
                        <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.Transmitter) <br><cite title="Source Title">@Html.DisplayFor(modelItem => item.Date)</cite></footer>
                    </blockquote>
                }
            }
        }

        <hr />
        @using (Html.BeginForm("QueryChat", "User", new { user = ViewBag.Second }))
        {
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="exampleTextarea">Escribe un mensaje</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" name="Message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-success btn-lg btn-block">ENVIAR</button>
                </fieldset>
            </form>
        }

        <form method="post" asp-action="Upload" asp-controller="User" enctype="multipart/form-data" user=ViewBag.Second>
            <div class="form-group">
                <label for="exampleInputFile">Adjuntar un archivo</label>
                <br />
                <input type="file" name="file" /> <input type="text" id="User" class="border-0 invisible" name="user" value="@ViewBag.Second" readonly>
            </div>
            <input type="submit" value="Enviar Archivo"/>

        </form>
    </div>
</div>
