@model IEnumerable<MessageModel>

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("PRINCIPAL", "Index", "User")</li>
    <li class="breadcrumb-item active">BUSCAR MENSAJE</li>
</ol>

<h1>BÚSQUEDA</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("SearchMessage", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Búsqueda de mensajes</label>
                    <input type="text" class="form-control" name="Word" placeholder="Ingrese la palabra clave">
                    <small id="emailHelp" class="form-text text-muted">Se obtendrán todos los mensajes en los que el usuario haya podido visualizar la palabra clave</small>
                </div>
                <button type="submit" class="btn btn-primary">BUSCAR</button>
            </form>
        }
    </div>
    <br />
    <br />

    <div class="col-md-8">
        <strong>@ViewBag.Result</strong>
        @foreach (var item in Model)
        {

            <div class="list-group">
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"></h5>
                        <small class="text-muted">@Html.DisplayFor(modelItem => item.Date)</small>
                    </div>
                    <p class="mb-auto"><b>@Html.DisplayFor(modelItem => item.Content)</b></p>
                    <small class="text-muted">@Html.DisplayFor(modelItem => item.Transmitter)</small>
                    <br />
                    <small class="text-muted">@Html.DisplayFor(modelItem => item.Id)</small>
                </div>
            </div>
        }
    </div>
</div>